<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda Aí</title>
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="css/loginSubscribe.css">
</head>
<body>
    <div class="container">
        <img class="logo" src="./img/AgendaAí.png" alt="Logo da Agenda aí">
        
        <form id="login" action="login" method="post">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required>
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Entrar</button>
            <p>Ainda não possui uma conta? <a id="linkToSubscribe">Cadastre-se!</a></p>
        </form>
        
        <form class="hidden" id="subscribe" action="subscribe" method="post">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" required>
            <label for="documentType">Tipo de Documento</label>
            <div>
                <input type="radio" id="cpf" name="documentType" value="CPF" checked>
                <label for="cpf">CPF</label>
                <input type="radio" id="cnpj" name="documentType" value="CNPJ">
                <label for="cnpj">CNPJ</label>
            </div>
            <input type="text" name="cpfcnpj" id="cpfcnpj" required>
            <label for="emailSubscribe">E-mail</label>
            <input type="email" name="emailSubscribe" id="emailSubscribe" required>
            <label for="phone">Telefone</label>
            <input type="tel" name="phone" id="phone" required>
            <label for="passwordSubscribe">Senha</label>
            <input type="password" name="passwordSubscribe" id="passwordSubscribe" required>
            <button type="submit">Cadastrar</button>
            <p>Já possui uma conta? <a id="linkToLogin">Entre aqui!</a></p>
        </form>            
        
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="./js/loginSubscribe.js"></script>
</html>